# -----------------------------

# ENVIRONMENT & SECRETS

# -----------------------------

.env
*.key
*.pem
*.json
google_credentials.json

# -----------------------------

# DATA FILES (never commit datasets)

# -----------------------------

data/*

*.csv
*.parquet
*.parquet.crc
*.zip
*.gz
*.xlsx
*.json
# 2. Add an EXCEPTION for .gitkeep files (using the ! symbol)
!data/raw/.gitkeep
# -----------------------------

# PYTHON ENVIRONMENTS

# -----------------------------

.venv/
venv/
env/

# -----------------------------

# PYTHON CACHE

# -----------------------------

**pycache**/
*.py[cod]

# -----------------------------

# JUPYTER

# -----------------------------

.ipynb_checkpoints/

# -----------------------------

# AIRFLOW

# -----------------------------

airflow/logs/
data_loader/logs/

# -----------------------------

# TERRAFORM

# -----------------------------

.terraform/
*.tfstate*
crash.log

# -----------------------------

# IDE / EDITOR

# -----------------------------

.vscode/
.idea/

# -----------------------------

# TEMP / BUILD FILES

# -----------------------------

tmp/
temp/

# -----------------------------

# OS FILES

# -----------------------------

.DS_Store
Thumbs.db
*.jar
# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
seeds
macros
snapshots
target
test
# end dbt Cloud content
dbt_internal_packages/
