# -----------------------------

# ENVIRONMENT & SECRETS

# -----------------------------

.env
*.key
*.pem
*.json
google_credentials.json

# -----------------------------

# DATA FILES (never commit datasets)

# -----------------------------

data/
*.csv
*.parquet
*.zip
*.gz
*.xlsx
*.json

# -----------------------------

# PYTHON ENVIRONMENTS

# -----------------------------

.venv/
venv/
env/

# -----------------------------

# PYTHON CACHE

# -----------------------------

**pycache**/
*.py[cod]

# -----------------------------

# JUPYTER

# -----------------------------

.ipynb_checkpoints/

# -----------------------------

# AIRFLOW

# -----------------------------

airflow/logs/
data_loader/logs/

# -----------------------------

# TERRAFORM

# -----------------------------

.terraform/
*.tfstate*
crash.log

# -----------------------------

# IDE / EDITOR

# -----------------------------

.vscode/
.idea/

# -----------------------------

# TEMP / BUILD FILES

# -----------------------------

tmp/
temp/

# -----------------------------

# OS FILES

# -----------------------------

.DS_Store
Thumbs.db
*.jar